# Backend Exclusions
lucidflow-backend/HELP.md
lucidflow-backend/target/
lucidflow-backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Frontend Exclusions
lucidflow-frontend/logs
*.log
lucidflow-frontend/npm-debug.log*
lucidflow-frontend/yarn-debug.log*
lucidflow-frontend/yarn-error.log*
lucidflow-frontend/pnpm-debug.log*
lucidflow-frontend/lerna-debug.log*
lucidflow-frontend/node_modules
lucidflow-frontend/dist
lucidflow-frontend/dist-ssr
*.local

# IntelliJ IDEA Exclusions
.idea
*.iws
*.iml
*.ipr

# VSCode & OS Specific Exclusions
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?